/*page will be sized by border box rules*/
* {

    box-sizing: border-box;

    scrollbar-color: transparent transparent;

}

/*setting a margin for the page*/
html {

    margin: 0;

    background-color: rgba(169, 169, 169, 0.2);

}

/*styling the introduction complete with background image*/
.intro {

    box-sizing: border-box;

    padding: 5vh 5vw;

    position: relative;

    margin: 0;

    max-width: 100%;

    height: auto;

    background-image: url('../img/sunset.png');

    background-color: rgba(255, 255, 255, 0.3);

    background-repeat: no-repeat;

    background-size: cover;

    color: white;


}

/*this is a descendant combinator*/
.intro p {

    font-size: 1.2rem;

}

/*this is an id selector*/
#fixed-img {

    background-color: rgba(169, 169, 169, 0);

    position: fixed;

    opacity: .4;

    bottom: 0;

    left: 0;

    height: auto;

    width: 4vw;

    z-index: 1;

}

/*BG colour for the body*/
#css-zen-garden {

    background-color: rgb(249, 248, 246);

    margin: 0;

}

/*this is a type selector*/
h1 {

    text-align: center;

    font-family: 'Kablammo', cursive;

    font-size: 3.5rem;

    color: white;

}

/*styling all h2's*/
h2 {

    font-family: 'Tilt Prism', cursive;

    font-size: 2.5rem;

    color: white;

}

h3 {

    font-family: 'Tilt Prism', cursive;

    font-size: 1.9rem;

}

h3 p {

    font-family: 'Roboto', sans-serif;


}

/*this is a general sibling selector
all p elements following a h3*/
h3 ~ p {

    font-weight: 502;

}

/*this is a direct sibling selector*/
/*any p element following a h3*/
.intro h3 + p {

    color: rgb(250, 254, 241);
    
  }

/*text in the footer*/
footer p {

    font-size: 1em;

    color: black;

}

/*page is not made to be scrollable horizontally*/
#section-2 {

    display: flex;

    flex-direction: row;

    width: auto;

    overflow-x: hidden;
    
}

/*main text of the page*/
.main-supporting {

    max-width: 70vw;

    font-size: .75rem;

}

/*this is a class selector*/
/*the aside is styled as a scrollable side bar window*/
.sidebar {

    max-width: 22%;

    height: 100vh;

    overflow: scroll;

    background-color: rgba(240, 255, 255, 0.5);

    margin: 1vw 0 0 4vw;

    font-family: 'Roboto', sans-serif;

    border: 2px solid rgb(2, 59, 90);

    border-radius: 5px;

    padding: 1vw;

    font-size: 1.2em;

}

/*all text based classed of the main body*/
.requirements,
.benefits,
.participation,
.explanation {

    padding: 2vh 2vw;

    margin: 0 0 0 4vw;

    font-size: .9rem;

    font-family: 'Roboto', sans-serif;

}

/*styling the footer*/
footer {

    width: 100vw;

    background-color: rgba(169, 169, 169, 1);

    height: auto;

    text-align: center;

    bottom: 0;

    padding: 2vh 8vw;

    margin: 0 auto;

}

footer div {

    text-align: left;

    color: white;


}

/*the following stylistic choices are all for links
they follow the link, visited, hover, active order for best practice
links are styled uniquely according to their place on the page
*/
.sidebar a {

    color: rgb(241, 146, 87);

}

.requirements a,
.benefits a,
.participation a,
.explanation a {

    color: rgb(244, 23, 119);

}

aside a:visited,
.requirements a:visited,
.benefits a:visited,
.participation a:visited,
.explanation a:visited {

    color: rgb(220, 156, 156);

}

aside a:hover,
.requirements a:hover,
.benefits a:hover,
.participation a:hover,
.explanation a:hover {

    filter: blur(1px);

    color: blue;

    transition: color 0.5s ease;

    color: rgb(220, 156, 156);

}

aside a:active,
.requirements a:active,
.benefits a:active,
.participation a:active,
.explanation a:active {

    transition: font-size 0.3s ease;

    font-size: 1.2em;

}

.page-wrapper footer a {

    padding: 2px;

    display: inline-block;

    background-color: white;

    border: 2px solid black;

    border-radius: 7.5px;

    color: black;

    text-decoration: none;

    width: 10vw;

    margin: 0vw;

    font-weight: bolder;

    font-family: 'Tilt Prism', cursive;

}

.page-wrapper footer a:visited {

    color: purple;

    background-color: rgba(169, 169, 169, 0.05);

}

.page-wrapper footer a:hover {

    background-color: rgba(169, 169, 169, 0.2);

    transition: font-size 0.3s ease;

    font-size: 1.2em;

    transition: width 0.3s ease;

    width: 25vw;

    color: red;

}

.page-wrapper footer a:active {

    background-color: rgba(169, 169, 169, 0.8);

}

/*this is an attribute selector*/
.intro a[href*="examples"] {

    color: rgb(115, 182, 218);

}

/*this is a child combinator*/
.intro p > a:visited {

    color: blueviolet;

    text-decoration: none;

}

.intro a:hover {

    transition: font-size 0.3s ease;

    font-size: 1.5rem;

}

.intro a:active {

    transition: color 0.2s ease;

    color: red;

}

#footer-responsive {

    display: none;

}

/*Even though it wasn't explicitly stated to do so in the assignment, I wanted to take a run at a mobile design
The following will take effect at a screen width of 768 px or less*/

@media(max-width:768px) {

    * {

        box-sizing: border-box;
        

    }

    html {

        margin: 0;

    }

    .intro {


        margin: 0;

        width: 100vw;

        font-size: .6rem;

        overflow-x: hidden;

    }


    footer {

        display: none;

    }

    #footer-responsive {

        box-sizing: border-box;

        display: inline-block;

        background-color: rgba(169, 169, 169, 1);

        height: auto;

        padding: 3vh 0 3vh 0;

        width: 100vw;

        margin: 0;
    }

    #footer-responsive a {

        margin: 0 2vw;

    }

    #footer-responsive img {

        height: 3vh;

        width: 4.5vw;
    }

    #section-2 {

        max-width: 100vw;

        display: block;

        margin: 0;

    }

    .requirements,
    .benefits,
    .participation,
    .explanation {

        padding: 2vh 8vw;

        margin: 0 0 0 0;

        width: 100vw;

        text-align: center;

        font-size: .85em;


    }

    .explanation,
    .benefits {

        background-color: white;

    }

    .requirements,
    .participation {

        background-color: rgba(0, 0, 0, 0.7);
        
        color: white;

    }

    .sidebar {

        max-width: 100vw;

        height: auto;

        font-family: 'Roboto', sans-serif;

        font-size: .8em;

        border: none;

        margin: 0;

        padding: 2px;

        background-color: rgb(217, 250, 250);

        font-size: .6rem;

        overflow: hidden;

    }

    .wrapper {

        display: flex;

        flex-direction: row;

    }

    .wrapper ul {

        margin: 0;

    }

    .wrapper ul li {

        padding: 2.5px;

    }


    .sidebar h3 {

        font-size: 1.2em;

        text-align: center;

    }

    #fixed-img {

        display: none;

    }
}
