html {

margin: 0;

}

.page-wrapper {

    padding: 0 2vw 0 2vw;

}

.intro {

    padding: 5px;

    position: relative;

    margin: 0vh -2vw 0 -2vw;

    height: auto;

    background-image: url('../img/sunset.png');

    background-color: rgba(255, 255, 255, 0.3);

    background-repeat: no-repeat;

    background-size: cover;

    color: white;

}

.intro p {

    font-size: 1.2rem;

}


#fixed-img {

    background-color: rgb(249, 248, 246);

    position: fixed;

    opacity: .4;
    
    bottom: 13.75vh;

    left: 0;

    height: 15vh;

    width: 5vw;

    z-index: -1;

}

#css-zen-garden {

    background-color: rgb(249, 248, 246);

    margin: 0;

}


h1 {

    text-align: center;

    font-family: 'Kablammo', cursive;

    font-size: 3.5rem;

    color: white;

}

h2 {

    font-family: 'Tilt Prism', cursive;

    font-size: 2.5rem;

    color: white;

}

h3 {

    font-family: 'Tilt Prism', cursive;;

    font-size: 1.5rem;

}

p {

    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;

}

footer p {

    font-size: 1em;

    color: black;

}

#section-2 {

    width: 100%;

    display: flex;

    flex-direction: row;

}

.main-supporting {

    width: 75%;

    font-size: .75rem;

    margin-right: 1vw;

  }

.sidebar {

    width: 25%;

    height: 100vh;

    overflow: scroll;

    background-color: rgba(240, 255, 255, 0.5);

    margin: 1vw 0 5vw 1vw;

    font-family: 'Roboto', sans-serif;

    border: 2px solid rgb(2, 59, 90);

    border-radius: 5px;

    padding: 1vw;

    font-size: 1.2em;

}
  

footer {

    display: sticky;

    background-color: rgba(169, 169, 169, 0.8);

    height: 12vh;

    width: 100vw;

    text-align: center;

    padding: 2vh 0 0 0;

    position: sticky;

    bottom: 0px;

    margin: 0 -2vw;

  }

footer div {

    text-align: left;

    color: white;

    padding-left: 5px;

}

.sidebar a {

    color:rgb(241, 146, 87)

}

.requirements a, .benefits a, .participation a, .explanation a {

    color: rgb(244, 23, 119);

}

aside a:visited, .requirements a:visited, .benefits a:visited, .participation a:visited, .explanation a:visited {

    color:rgb(220, 156, 156);

}

aside a:hover, .requirements a:hover, .benefits a:hover, .participation a:hover, .explanation a:hover {

    filter: blur(1px);

    color: blue;

    transition: color 0.5s ease;

    color: rgb(220, 156, 156);

}

aside a:active, .requirements a:active, .benefits a:active, .participation a:active, .explanation a:active {

    transition: font-size 0.3s ease;

    font-size: 1.2em;

}

.page-wrapper footer a {

    padding: 5px;

    display: inline-block;

    background-color: white;

    border: 2px solid black;

    border-radius: 7.5px;

    color: black;

    text-decoration: none;

    width: 10vw;

    margin: 0 1.5vw;

    font-weight: bold;

    font-family: 'Kablammo', cursive;;

}

.page-wrapper footer a:visited {

    color: purple;

    background-color: rgba(169, 169, 169, 0.05);

}

.page-wrapper footer a:hover {

    background-color: rgba(169, 169, 169, 0.2);

    transition: font-size 0.3s ease;

    font-size: 1.2em;

    transition: width 0.3s ease;

    width: 25vw;

}

.page-wrapper footer a:active {

    background-color: rgba(169, 169, 169, 0.8);

}

.intro a {

    color: rgb(115, 182, 218);

}

.intro a:visited {

    color: blueviolet;

    text-decoration: none;

}

.intro a:hover {

    transition: font-size 0.3s ease;

    font-size: 1.5rem;

}

.intro a:active {

    transition: color 0.2s ease;

    color: red;

}

#footer-responsive {

    display: none;

}

@media(max-width:780px) {

    
    
    footer {

        display: none;

    }

    .main-supporting {

        width: 100%;

    }

    #footer-responsive {

        display: inline-block;

        position: relative;

        background-color: rgba(169, 169, 169, 0.2);

        height: auto;

        padding: 3vh 0 3vh 0;

        width: 100vw;
    }

    #footer-responsive img {

        height: 3vh;

        width: 4.5vw;
    }

    #fixed-img {

        top: 0;

        left: 0;

        width: 10vw;

    }

    #section-2 {

        width: 100%;
    
        display: block;
    
    }

    .sidebar {

        width: 100%;
    
        height: auto;
    
        font-family: 'Roboto', sans-serif;
    
        padding: 1vw;
    
        font-size: .8em;

        border: none;

        margin: 0;

        padding: 2px;

        background-color: rgba(240, 255, 255, 0.5);

        font-size: .6rem;
    
    }

    .wrapper {

        display: flex;

        flex-direction: row;

    }

    .wrapper ul{

        margin: 2vh 2vw;

    }

    .wrapper ul li {

        padding: 2.5px;

    }


    .sidebar h3 {

        font-size: 1.2em;

        text-align: center;

    }

    #fixed-img {

        display: none;

    }

}
